




header {
  border-bottom: 1px solid #ccc;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(127, 113, 113);
  margin: auto;
}

.navigation {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
